.m-flex
	display flex
.m-flex-inline
	display inline-flex

.m-flex-left
	justify-content flex-start
.m-flex-center
	justify-content center
.m-flex-right
	justify-content flex-end
.m-flex-between
	justify-content space-between
.m-flex-around
	justify-content space-around

.m-flex-top
	align-items flex-start
.m-flex-middle
	align-items center
.m-flex-bottom
	align-items flex-end
.m-flex-stretch
	align-items stretch

.m-flex-1
	flex 1
.m-flex-2
	flex 2
.m-flex-none
	flex none
.m-flex-1-0-50
	flex 1 0 50%

.m-flex-row
	flex-direction row
.m-flex-row-reverse
	flex-direction row-reverse
.m-flex-column
	flex-direction column
.m-flex-column-reverse
	flex-direction column-reverse
