@font-face
  font-family "m-font"
  font-style normal
  font-weight 400
  font-display auto
  src url("../../styles/fonts/m-font.eot")
  src url("../../styles/fonts/m-font.eot?#iefix") format("embedded-opentype"), url("../../styles/fonts/m-font.woff2") format("woff2"), url("../../styles/fonts/m-font.woff") format("woff"), url("../../styles/fonts/m-font.ttf") format("truetype"), url("../../styles/fonts/m-font.svg#m-font") format("svg")

.m-icon
  display inline-block
  font-family "m-font"
  font-weight 400
  font-style normal
  font-variant normal
  text-rendering auto
  line-height 1
  -moz-osx-font-smoothing grayscale
  -webkit-font-smoothing antialiased


.m-icon-arrow-left::before
  content "\ea01"

.m-icon-close::before
  content "\ea02"

.m-icon-comment::before
  content "\ea03"

.m-icon-following::before
  content "\ea04"

.m-icon-help::before
  content "\ea05"

.m-icon-hide::before
  content "\ea06"

.m-icon-like::before
  content "\ea07"

