@import './variables.styl'

.m-margin
  margin $global-margin

.m-margin-top
  margin-top $global-margin

.m-margin-right
  margin-right $global-margin

.m-margin-bottom
  margin-bottom $global-margin

.m-margin-left
  margin-left $global-margin

.m-margin-large
  margin $global-margin-large

.m-margin-top-large
  margin-top $global-margin-large

.m-margin-right-large
  margin-right $global-margin-large

.m-margin-bottom-large
  margin-bottom $global-margin-large

.m-margin-left-large
  margin-left $global-margin

.m-margin-small
  margin $global-margin-small

.m-margin-top-small
  margin-top $global-margin-small

.m-margin-right-small
  margin-right $global-margin-small

.m-margin-bottom-small
  margin-bottom $global-margin-small

.m-margin-left-small
  margin-left $global-margin-small

.m-margin-remove-last-child
  &:last-child
    margin-bottom 0
