@import './mixins'

.m-padding
	m-padding()
.m-padding-top
	m-padding-top()
.m-padding-right
	m-padding-right()
.m-padding-bottom
	m-padding-bottom()
.m-padding-left
	m-padding-left()
.m-padding-x
	m-padding-x()

.m-padding-small
	m-padding-small()
.m-padding-top-small
	m-padding-top-small()
.m-padding-right-small
	m-padding-right-small()
.m-padding-bottom-small
	m-padding-bottom-small()
.m-padding-left-small
	m-padding-left-small()
.m-padding-x-small
	m-padding-x-small()
