@import './mixins'

.m-no-result
  width 100%

  .logo
    margin $global-margin-large auto $global-margin auto

  .text
    color $global-thirdly-text-color
    font-size $global-font-size-medium
    text-align center
