/* ========================================================================
   global variables
 ========================================================================== */

$global-img-path = "../../static/images/"				//普通图片路径
$global-icon-path = "../../static/icons/"			//图标路径, 将合并成雪碧图

// font
$global-num-font-family = DIN Alternate
$global-font-size-mini = m-rem(10px)
$global-font-size-small = m-rem(12px)
$global-font-size-medium = m-rem(14px)
$global-font-size-large = m-rem(16px)
$global-font-size-large-x = m-rem(18px)

// distance
$global-margin-mini = m-rem(4px)
$global-margin-small = m-rem(8px)
$global-margin-medium = m-rem(16px)
$global-margin-large = m-rem(32px)

$global-padding-mini = m-rem(4px)
$global-padding-small = m-rem(8px)
$global-padding-medium = m-rem(16px)
$global-padding-large = m-rem(24px)

$global-margin = $global-margin-medium
$global-padding = $global-padding-medium

$global-footer-height = m-rem(50px)		//底部按钮栏高度

// colors
$global-primary-color = #4a7afe
$global-warning-color = #ffaa22
$global-error-color = #f21717
$global-emphasize-color = $global-warning-color

$global-title-color = #000000

$global-main-text-color = #333333
$global-secondary-text-color = #666666
$global-thirdly-text-color = #999999
$global-text-color = $global-main-text-color

$global-white-color = #ffffff
$global-disabled-color = #cccccc

$global-border-inner-color = #eeeeee
$global-border-outer-color = #dddddd

$global-primary-background = $global-primary-color
$global-body-background = #f5f5f5
$global-emphasize-background = #f6fafe

$global-price-up = #e8541e;
$global-price-down = #43a649;

$global-yellow = #fa2;

$global-border-radius-small = m-rem(2px)
$global-border-radius-medium = m-rem(4px)

$global-height-medium = m-rem(45px)
$global-height-small = m-rem(34px)
$global-height = $global-height-medium


/* ========================================================================
   components variables
 ========================================================================== */

//	z-index of all components
$footer-z-index = 9000

//	table
$table-header-cell-color = $global-emphasize-background
$table-header-font-size = $global-font-size-small
$table-header-font-color = $global-thirdly-text-color
$table-body-font-size = $global-font-size-medium
$table-body-font-color = $global-main-text-color

//	input
$input-checkbox-size = m-rem(18px)
$input-checkbox-radius = 50%

// button
$button-height-medium = $global-height
$button-height-small = $global-height-small
$button-height = $button-height-medium

$button-width-medium = m-rem(295px)
$button-width = $button-width-medium


